aiohttp
asyncpraw
beautifulsoup4
colorama
cursor
discord.py
distro
ffmpeg
google_trans_new
gtts
httpx
lorem_text
Markdown
ntplib
numpy
playsound
praw
privatebinapi
multidict
psutil
pycryptodome
pyfiglet
PyJWT
pypresence
pyPrivnote
qrcode
requests
requests_futures
sty
tcp_latency
upsidedown
urbandict
yt_dlp