aiofiles==0.6.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
anyio==3.3.2
async-generator==1.10
async-timeout==3.0.1
asyncio-extras==1.3.2
asyncpraw==7.4.0
asyncprawcore==2.3.0
attrs==21.2.0
base58==2.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
cursor==1.3.4
discord.py==1.7.3
ffmpeg==1.4
google-trans-new==1.1.9
gTTS==2.2.3
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.2
jwt==1.2.0
lorem-text==1.5
Markdown==3.3.4
multidict==5.1.0
ntplib==0.4.0
numpy==1.21.2
PBinCLI==0.3.1
playsound==1.3.0
praw==7.4.0
prawcore==2.3.0
PrivateBinAPI==1.0.0
psutil==5.8.0
pycparser==2.20
pycryptodome==3.10.4
pyfiglet==0.8.post1
pypiwin32==223
pypresence==4.2.0
pyPrivnote==0.0.1a1
pywin32==301
qrcode==7.3
requests==2.26.0
requests-futures==1.0.0
rfc3986==1.5.0
six==1.16.0
sjcl==0.2.1
sniffio==1.2.0
soupsieve==2.2.1
sty==1.0.0rc2
tcp-latency==0.0.10
typing-extensions==3.10.0.2
update-checker==0.18.0
upsidedown==0.4
urbandict==0.6.1
urllib3==1.26.7
websocket-client==1.2.1
win10toast==0.9
WMI==1.5.1
yarl==1.6.3
youtube-dl==2021.6.6
