aiohttp==3.7.4.post0
asyncpraw==7.5.0
beautifulsoup4==4.10.0
colorama==0.4.4
cursor==1.3.4
discord.py==1.7.3
distro==1.6.0
ffmpeg==1.4
google_trans_new==1.1.9
gtts==2.2.3
httpx==0.21.1
lorem_text==2.1
Markdown==3.3.6
ntplib==0.4.0
numpy==1.21.4
playsound==1.3.0
praw==7.5.0
privatebinapi==1.0.0
psutil==5.8.0
pycryptodome==3.12.0
pyfiglet==0.8.post1
PyJWT==2.3.0
pypresence==4.2.1
pyPrivnote==0.0.1a1
qrcode==7.3.1
requests==2.26.0
requests_futures==1.0.0
sty==1.0.0rc2
tcp_latency==0.0.11
upsidedown==0.4
urbandict==0.6.1
youtube_dl==2021.6.6